/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.selectable_text {
	user-select: text;
}

.error_text {
	color: white;
	font-style: italic;
	background-color: red;
	border-radius: 10px;
	padding: 10px;
}
